<!doctype html>

<html>
	<head>
		<title>Psychology Experiment</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-10">
						<h1>Task complete!</h1>
						<hr>
					    <div class="alert alert-warning">
<p>Thank you for participating in our categorization study!</p>

<p>What was this study about?</p>

<p>The categories A and B in this study were based on conjunctive rules. Category A in the first task was all objects ( ) and Category B was all other objects. In the second task Category A was all objects ( ) and Category B was all other objects. The questionnaire used in this study was the Autism Quotient, which measures autistic traits. The purpose of this study was to examine cognitive flexibility when a person has to switch how they categorize stimuli and see if it relates to a person’s level of autistic traits, as measured by the AQ. </p>
					    </div>
					</div>
			</div>
		</div>
	</body>
</html>
